// Base embed styles
// -------------------------------------------------------------------
// Make stuff responsive
img, canvas, iframe, video, svg { max-width: 100%; }

.hero {
    position: fixed;
    top: 0;
    left: $left-column-width;
    bottom: 0;
    width: $hero-width;
    height: 100vh;
}
